.serie {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.serie-info h1 {
  padding-bottom: 30px;
}

.serie-info p {
  margin: 10px 0;
  line-height: 1.5;
}

.serie-info .elenco {
  background: var(--color-subtitulos);
  padding: 12px 60px;
  border-radius: 20px;
  margin: 0 20px 0 0;
  color: #fff;
  font-family: 'Rubik';
  text-transform: uppercase;
  border: none;
}

.serie-info .elenco:hover {
  background: var(--color-titulos);
  cursor: pointer;
}

.serie-info .return {
  background: var(--color-titulos);
  padding: 12px 60px;
  border-radius: 20px;
  margin: 0 20px 0 0;
  color: #fff;
  font-family: 'Rubik';
  text-transform: uppercase;
  border: none;
}

.serie-info .return:hover {
  background: var(--color-subtitulos);
  cursor: pointer;
}

.serie img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.serie-info {
  flex: 1;
}

@media (max-width: 768px) {
  .serie {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .serie-info {
    margin-top: 20px;
  }
  .serie .elenco {
    margin: 10px 0;
  }
}
